:root {
    --cor-verde-agua: #348888;
    --cor-verde-agua-claro: #d5f1ef;
    --cor-laranja: #FA7F08;
    --cor-escuro: #2d2d2d;
    --cor-cinza: #707070;
    --cor-branco: #ffffff;
    --cor-vermelho: #F24405;
    --cor-verde-petroleo: #348888; 
    --cor-ciano-medio: #22BABB; 
    --cor-ciano-claro:#9EF8EE; 
    --cor-laranja-vibrante: lab(66.55% 40.45 72.21); 
    --cor-laranja-avermelhado: #f24405;        
    --bnt-laranja-vibrante-80: lab(66.55% 40.45 72.21 / 0.80); 
}

*{
    font-family: 'Outfit', sans-serif;
}

body{
    background-color: gray;
}

label, p, a{
    font-size: 20px;
}

.form-login{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-branco);
    min-width: 50%;
    border-radius: 20px;
}

.title-container{
    background-color: var(--cor-verde-agua);
    width: 100%;
    border-radius: 19px 19px 0px 0px;
}

.title-login{
    flex-wrap: nowrap;
    text-align: center;
    color: var(--cor-branco);
}

.logo{
   max-width: 173px;
   padding: 20px;
}

.inputs-container{
    display: flex;
    flex-direction: column;
}

.label-login{
    margin: 2px;
}

.input-login{
    border: 2px solid #ccc;
    transition: 0.85s;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
}

.input-login:focus{
    border: 2px solid var(--cor-ciano-medio);
    outline: none;
    transition: 0.85s;
}

#identificador{
    margin-bottom: 10px;
}

.button-container{
    margin: 20px;
}

.btn-laranja {
    background: var(--cor-laranja);
    color: var(--cor-branco);
    font-weight: 700;
    padding: 0.6rem 3rem;
    border-radius: 12px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    border: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: background 0.3s;
    cursor: pointer;
}

.btn-laranja:hover {
    background: #ff8f33;
    color: var(--cor-branco);
}

.esq-senha-container{
    display: flex;
    flex-wrap: wrap;
    text-wrap: wrap;
}

.cadastro-container{
    display: flex;
    align-items: center;
    text-align: center;
}